@keyframes animate {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1000;
    }
}

#path15578,
#path16314,
#path16308,
#path15580,
#path16310,
#path16316,
#path16318,
#path16312,
#path16320,
#path16324,
#path16322,
#path16326,
#path9735,
#path9731,
#path9725,
#path9727,
#path9729,
#path8993,
#path8995,
#path8983,
#path8987,
#path8989,
#path8991,
#path8973,
#path8979,
#path8977,
#path8981,
#path8983-9,
#path8983-9-6,
#path8983-9-6-8,
#path8997,
#path16332,
#path16328,
#path16330,
#path8971,
#path11408,
#path9737,
#path9733,
#path8983-9-5,
#path71450,
#path71462,
#path71452,
#path71454,
#path71456,
#path71460,
#path71458,
#path71442,
#path71440,
#path71444,
#path71446,
#path71448,
#path69427,
#path69417,
#path69423,
#path69419,
#path69425,
#path8971-8-6,
#path8971-8,
#path8971,
#path73560,
#path73562,
#path73564,
#path73566,
#path73568,
#path73572,
#path73570,
#path73574,
#path73580,
#path73596,
#path73602,
#path73590,
#path73594,
#path73598,
#path73604,
#path73592 {
    animation: animate 50s linear infinite;
}
